mixin copyright
  +b.copyright
   +e.SPAN.text Разработано
   +e.logo
     +e.A.link(href="#") HTML Academy
       +e.SVG.icon.svg-htmlacademy
         use(xlink:href="img/svg-sprite.svg#logo-htmlacademy")
