mixin modal
  +b.modal--success
    +e.title Ваша заявка отправлена
    +e.text Спасибо за&nbsp;ваше участие, ваша заявка уже поступила к&nbsp;нам. В&nbsp;ближайшее время мы&nbsp;рассмотрим ее&nbsp;и&nbsp;оповестим вас.
    +e.inner
      +e.A.btn.btn--square.--c-green(href="#") Закрыть окно

mixin modal-fail
  +b.modal
    +e.title Что-то пошло не&nbsp;так!
    +e.text Проверьте поля, выделенные красным, скорее всего вы&nbsp;забыли их&nbsp;заполнить
    +e.inner
      +e.A.btn.btn--square.--c-green(href="#") Ok
