mixin reviews
  +b.SECTION.reviews
    //- slider-block starts
    +b.slider--reviews
      each item, index in site.data.reviews
        - var isChecked = false
        if index == 0
          - isChecked = "checked"
        +e.INPUT.input(
          id="review-" + (index + 1),
          type="radio",
          name="reviews",
          checked=isChecked
          )
      +e.controls
        each item, index in site.data.reviews
          +e.LABEL.control(for="review-" + (index + 1))
      +e.arrows
        +e.A.arrow--left(href="#")
        +e.A.arrow--right(href="#")
      +e.slides
        each item in site.data.reviews
          +review(item)

mixin style-reviews
  style.
    .slider--reviews .slider__slides {
     width: 300%;
    }
    .slider__input[id="review-1"]:checked ~ .slider__controls .slider__control[for="review-1"],
    .slider__input[id="review-2"]:checked ~ .slider__controls .slider__control[for="review-2"],
    .slider__input[id="review-3"]:checked ~ .slider__controls .slider__control[for="review-3"] {
     border-color: #283645;
     background-color: transparent;
    }
    .slider__input[id="review-1"]:checked ~ .slider__slides {
     transform: translate(0);
    }
    .slider__input[id="review-2"]:checked ~ .slider__slides {
     transform: translate(-33.3333%);
    }
    .slider__input[id="review-3"]:checked ~ .slider__slides {
     transform: translate(-66.6666%);
    }

    @media only screen and (min-width:1020px) {
      .slider__input[id=review-1]:checked~.slider__controls .slider__control[for=review-2]:before,
      .slider__input[id=review-2]:checked~.slider__controls .slider__control[for=review-3]:before,
      .slider__input[id=review-3]:checked~.slider__controls .slider__control[for=review-1]:before {
        right: 5px;
        border-bottom: none;
        border-left: none;
        display: block
      }

      .slider__input[id=review-1]:checked~.slider__controls .slider__control[for=review-3]:before,
      .slider__input[id=review-2]:checked~.slider__controls .slider__control[for=review-1]:before,
      .slider__input[id=review-3]:checked~.slider__controls .slider__control[for=review-2]:before {
        left: 5px;
        border-top: none;
        border-right: none;
        display: block
      }
    }
