.btn {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-weight: $fw_bold;
  outline: none;
  border: 3px solid;
  transition: $trs_base;

  /* ============================================>>>>>
  = Color Mods =
  ===============================================>>>>> */
  &--c-brand {
    color: $c_bright;
    background-color: transparent;

    &:hover {
      color: $c_alt;
      border-color: $c_bright;
      background-color: $c_bright;
    }

    &:active {
      color: rgba($c_alt, 0.3);
      border-color: $c_bright;
      background-color: $c_bright;
    }
  }

  &--c-mono {
    color: rgba($c_base, 0.1);
    background-color: transparent;

    &:hover {
      color: rgba($c_base, 0.1);
      border-color: rgba($c_base, 0.3);
      background-color: transparent;
    }

    &:active {
      color: rgba($c_alt, 0.3);
      border-color: rgba($c_base, 0.3);
      background-color: rgba($c_base, 0.3);
    }
  }

  &--c-alt {
    color: $c_alt;
    background-color: transparent;

    &:hover {
      color: $c_bright;
      border-color: $c_alt;
      background-color: $bg_alt;
    }

    &:active {
      color: rgba($c_bright, 0.3);
      border-color: $c_alt;
      background-color: $bg_alt;
    }
  }

  &--c-green {
    color: $c_alt;
    border-color: $bg_green;
    background-color: $bg_green;

    &:hover {
      color: $c_alt;
      border-color: $bg_green-dark;
      background-color: $bg_green-dark;
    }

    &:active {
      color: rgba($c_alt, 0.3);
      border-color: $bg_grey-dark;
      background-color: $bg_grey-dark;
    }

    &[disabled] {
      color: $c_alt;
      background-color: #e5e5e5;
    }
  }

  /* --------------------------------------------<<<<<
  = End of Color Mods =
  ===============================================<<<<< */

  /* ============================================>>>>>
  = Sizes and Forms Mods =
  ===============================================>>>>> */

  &--small {
    padding-top: 14px;
    padding-bottom: 17px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: $fz_m;
    line-height: 1;
    border-radius: 30px;
  }

  &--square {
    padding-top: 13px;
    padding-bottom: 14px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: $fz_m;
    line-height: (30 / 18);
    text-transform: uppercase;
    border-radius: 0;
  }

  /* --------------------------------------------<<<<<
  = End of Sizes and Forms Mods =
  ===============================================<<<<< */
}
