.contacts {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 38px;

  &__list {
    @include list-clear;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__sub-list {
    @include list-clear;
  }

  &__header {
    margin-bottom: 23px;
  }

  &__item {
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 3px;
    padding: 0;
    font-size: $fz_m;
    line-height: (24 / 18);
    font-weight: $fw_bold;
  }

  &__descr {
    margin: 0;
  }

  &__link {
    @include typo-link-special;
  }

  &__text {
    font-size: $fz_l;
    line-height: 1.1;
    color: $c_bright;
    font-weight: $fw_light;
  }
}

/*
███    ███  ██████
████  ████ ██    ██
██ ████ ██ ██    ██
██  ██  ██ ██ ▄▄ ██
██      ██  ██████
               ▀▀
*/

@media #{$mobile} {
  .contacts {
    &__list {
      flex-direction: column;
    }
  }
}
// @media #{$tab-desk}

@media #{$tablet} {
  .contacts {
    padding-top: 37px;
    padding-bottom: 24px;

    &__header {
      margin-bottom: 33px;
    }

    &__item {
      @include col-fluid(6);

      margin-bottom: 44px;
      margin-left: auto;
      margin-right: auto;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__title {
      margin-bottom: 6px;
    }
  }
}

@media #{$desktop} {
  .contacts {
    padding-top: 54px;
    padding-bottom: 19px;

    &__header {
      margin-bottom: 27px;
    }

    &__list {
      padding-top: 20px;
    }

    &__item {
      @include col-fluid(4);

      &:nth-of-type(1) {
        order: 1;
      }

      &:nth-of-type(2) {
        order: 3;
      }

      &:nth-of-type(3) {
        order: 2;
      }
    }

    &__title {
      margin-bottom: 25px;
    }
  }
}
