.descr {
  margin: 0;
  text-align: center;
  padding-top: 45px;
  padding-bottom: 34px;

  &__text {
    @include typo-text;

    margin: 0;
  }

  &--inner {
    padding-top: 23px;
    padding-bottom: 42px;
  }
}

@media #{$mobile} {
  .descr {
    &__hidden {
      @include text-hide;
    }

    &__new-line {
      display: block;
    }
  }
}


@media #{$tablet} {
  .descr {
    padding-top: 92px;
    padding-bottom: 70px;
    padding-left: 60px;
    padding-right: 60px;

    &--inner {
      padding-top: 50px;
      padding-bottom: 69px;
    }
  }
}

@media #{$desktop} {
  .descr {
    padding-top: 92px;
    padding-bottom: 78px;
    padding-left: 80px;
    padding-right: 80px;

    &--inner {
      padding-top: 10px;
      padding-bottom: 66px;
    }
    
    &__new-line {
      display: block;
    }
  }
}
