.editor {
  @include container;
  
  background-color: $bg_grey;
  padding-top: 20px;
  padding-bottom: 30px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  &__img-wrap {
    width: 100%;
    height: 375px;
    overflow: hidden;
  }

  &__img {
    display: block;
    margin: 0 auto;
  }

  &__col {
    margin: 0 auto;
  }

  &__input {
    display: none;
  }

  &__label {
    @include text-hide;

    display: block;
  }

  &__tool-icon-wrap {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
  }

  &__tool-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    fill: rgba($c_base, 0.3);
    transition: $trs_base;

    &:hover {
      fill: rgba($c_base, 0.5);
    }
  }

  &__scale-wrap {
    display: block;
    width: 100%;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
  }

  &__scale {
    position: relative;
    display: block;
    height: 2px;
    background-color: $c_base;
  }

  &__toggle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 15px;
    height: 15px;
    background-color: $c_grey;
    border: 2px solid $c_bright;
    border-radius: 50%;
    cursor: pointer;
    transition: $trs_short;

    &:active {
      background-color: $c_bright;
    }
  }

  &__scale-wrap--crop &__toggle {
    left: 80%;
  }

  &__scale-wrap--fill &__toggle {
    left: 40%;
  }

  &__scale-wrap--contrast &__toggle {
    left: 60%;
  }

  &__btn-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/*
███    ███
████  ████
██ ████ ██
██  ██  ██
██      ██
*/

@media #{$mobile} {
  .editor {
    &__img-wrap {
      margin-bottom: 114px;
    }

    &__col {
      width: $w_block - ($gutter);
    }

    &__tools {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        width: $w_container_min;
        height: 1px;
        background-color: #ccc;
        margin-left: - $offset_mobile;
      }
    }

    &__tool-icon-wrap {
      top: -76px;
    }

    &__tool-icon {
      &:active {
        fill: $c_bright;
      }
    }

    &__tool--crop &__tool-icon-wrap {
      left: 35px;
    }

    &__tool--fill &__tool-icon-wrap {
      left: 50%;
      transform: translateX(-50%);
    }

    &__tool--contrast &__tool-icon-wrap {
      right: 35px;
    }

    &__tool--fill &__tool-icon {
      margin-top: 2px;
    }

    &__btn-wrap {
      margin-top: 63px;
    }

    &__btn {
      margin-bottom: 12px;
    }

    /* ============================================>>>>>
    = logic for tools togglers =
    ===============================================>>>>> */

    &__input:checked + &__label &__tool-icon {
      fill: $c_bright;
    }

    &__scale-wrap {
      display: none;
    }

    &__input:checked + &__label &__scale-wrap {
      display: block;
    }

    /* --------------------------------------------<<<<<
    = End of logic for tools togglers =
    ===============================================<<<<< */
  }
}


/*
████████ ██████
   ██    ██   ██
   ██    ██   ██
   ██    ██   ██
   ██    ██████
*/

@media #{$tab-desk} {
  .editor {
    &__inner {
      flex-direction: row;
    }

    &__img-wrap {
      width: 50%;
      min-height: 400px;
      padding-right: 10px;
    }

    &__img {
      width: $w_block;
    }

    &__col {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    &__tools {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &__tool {
      position: relative;
      padding-top: 9px;
      padding-bottom: 9px;
      margin-bottom: 33px;

      &::after {
        content: "";
        position: absolute;
        bottom: -17px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ccc;
      }
    }

    &__tool-icon-wrap {
      top: 50%;
      transform: translateY(-50%);
    }

    &__tool-icon {
      fill: $c_bright;
    }

    &__label:hover &__tool-icon {
      fill: rgba($c_base, 0.5);
    }


    &__input:checked ~ &__label &__toggle {
      background-color: $c_bright;
    }

    &__btn-wrap {
      margin-top: 47px;
    }
  }
}

/*
████████
   ██
   ██
   ██
   ██
*/

@media #{$tablet} {
  .editor {
    margin-bottom: 2px;
    padding-top: 57px;

    &__col {
      padding-left: 35px;
    }

    &__tool-icon-wrap {
      left: 0;
      width: 25px;
      height: 25px;
    }

    &__tool-icon {
      width: 25px;
      height: 25px;
    }

    &__tool--contrast &__tool-icon {
      width: 17px;
      height: 17px;
    }

    &__tool--fill &__tool-icon {
      top: 14px;
    }

    &__scale-wrap {
      padding-left: 55px;
      padding-right: 18px;
    }

    &__btn-wrap {
      padding-right: 20px;
    }

    &__btn {
      margin-bottom: 24px;
    }
  }
}

/*
██████
██   ██
██   ██
██   ██
██████
*/


@media #{$desktop} {
  .editor {
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    margin-bottom: 32px;

    &__inner {
      background-color: $bg_grey;
      padding-top: 57px;
      padding-bottom: 57px;
    }

    &__col {
      margin-left: 0;
      padding-left: 0;
      padding-right: 60px;
    }


    &__tool-icon-wrap {
      left: -3px;
    }

    &__tool--fill &__tool-icon {
      top: 27px;
    }

    &__scale-wrap {
      padding-left: 92px;
      padding-right: 30px;
    }


    &__btn-wrap {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &__btn {
      width: 45%;
    }
  }
}
