.features {
  position: relative;
  margin-top: 20px;
  padding-top: 85px;
  overflow: hidden;

  &__item {
    display: flex;
    text-align: center;
    margin-bottom: 34px;
  }

  &__title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: $fz_m;
    line-height: 1;
    font-weight: $fw_bold;
    color: #000;
  }

  &__text {
    margin: 0;
    padding: 0;
    color: $c_base;
  }
}

@media #{$mobile} {
  .features {
    &__item {
      flex-direction: column-reverse;
    }

    &__img {
      display: none;
      margin: 0 auto;
    }

    &__item:last-child {
      margin-bottom: 0;
    }

    &__item:last-child &__img {
      position: relative;
      bottom: -40px;
      display: block;
      z-index: 1;
    }
  }
}


@media #{$tablet} {
  .features {
    margin-top: 35px;
    padding-top: 78px;
    padding-bottom: 43px;
    
    &__item {
      margin-bottom: 37px;
      padding-left: 310px;
      text-align: left;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__img {
      position: absolute;
      left: 0;
      top: 5px;
    }
  }
}

@media #{$desktop} {
  .features {
    margin-top: 65px;
    padding-top: 0;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;

    &__item {
      width: $w_block;
      flex-direction: column;
    }

    &__img {
      margin-bottom: 49px;
    }

    &__title {
      font-size: $fz_xl;
      margin-bottom: 24px;
      padding: 0 30px;
    }

    &__text {
      font-size: $fz_m;
      line-height: (30 / 18);
      padding: 0 30px;
    }
  }
}

// @media #{$tab-desk}
