.form {
  display: flex;
  flex-wrap: wrap;

  &__fieldset {
    width: 100%;
    margin: 0;
    border: 2px solid $bc_grey-dark;

    &--name {
      border: none;
    }
  }

  &__item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    @include typo-label;
    @include text-no-overflow;

    margin: 0;
    display: block;
    padding: 0 20px;
    text-align: center;
  }

  &__textarea {
    display: block;
    width: 100%;
    min-height: 201px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    padding-right: 18px;
    font-size: $fz_m;
    line-height: (30 / 18);
    color: $c_base;
    border: 2px solid $bc_grey-dark;
    border-radius: $br_s;
    outline: none;
    resize: vertical;
  }

  &__textarea::placeholder {
    color: $c_base;
  }

  &__textarea:hover,
  &__textarea:active,
  &__textarea:focus {
    outline: none;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__disclaimer {
    font-size: $fz_base;
    line-height: (30 / 14);
    text-transform: uppercase;
  }

  &__asterisk {
    color: $c_bright;
    line-height: (30 / 14);
  }
}

/* ============================================>>>>>
= MQ Mobile =
===============================================>>>>> */

/*
███    ███  ██████  ██████  ██ ██      ███████
████  ████ ██    ██ ██   ██ ██ ██      ██
██ ████ ██ ██    ██ ██████  ██ ██      █████
██  ██  ██ ██    ██ ██   ██ ██ ██      ██
██      ██  ██████  ██████  ██ ███████ ███████
*/


@media #{$mobile} {
  .form {
    flex-direction: column;
    margin-left: - $offset_mobile;
    margin-right: - $offset_mobile;

    &__fieldset {
      padding-left: $offset_mobile;
      padding-right: $offset_mobile;
      border: none;

      &--name {
        padding-top: 0;
        padding-bottom: 43px;
      }

      &--os {
        order: 4;
        padding-top: 36px;
        padding-bottom: 42px;
        background-color: $bg_grey;
      }

      &--contact {
        order: 3;
        padding-top: 29px;
        padding-bottom: 54px;
      }

      &--achieve {
        order: 2;
        padding-top: 36px;
        padding-bottom: 49px;
        background-color: $bg_grey;
      }

      &--text {
        order: 5;
        margin-bottom: 47px;
        padding-top: 57px;
      }
    }

    &__title {
      line-height: (18 / 14);
      margin-bottom: 40px;
    }

    &__fieldset--contact &__title {
      display: none;
    }

    &__fieldset--text &__title {
      margin-bottom: 18px;
    }

    &__fieldset--os &__title {
      margin-bottom: 36px;
    }

    &__footer {
      order: 6;
      flex-direction: column;
      padding-left: $offset_mobile;
      padding-right: $offset_mobile;
      margin-bottom: 17px;
    }

    &__btn {
      margin-bottom: 35px;
    }

    &__disclaimer {
      text-align: center;
    }


    &__item {
      &--name {
        margin-bottom: 16px;

        &:last-child {
          padding-top: 3px;
        }
      }

      &--os {
        margin-bottom: 35px;
      }

      &--contact {
        margin-bottom: 16px;
      }

      &--achieve {
        margin-bottom: 42px;
      }
    }

    &__hidden {
      @include text-hide;
    }
  }
}

/* --------------------------------------------<<<<<
= End of MQ Mobile =
===============================================<<<<< */

@media #{$tab-desk} {
  .form {
    width: 100%;

    &__fieldset {
      position: relative;
    }

    &__title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $bg_alt;
      padding: 0 25px;
      white-space: nowrap;
    }

    &__footer {
      align-items: center;
    }

    &__btn {
      width: $w_block;
    }
  }
}

/*
████████
   ██
   ██
   ██
   ██
*/


@media #{$tablet} {
  .form {
    &__fieldset {
      padding-top: 45px;
      padding-left: 58px;
      padding-right: 58px;

      &--name {
        padding: 0;
        padding-top: 1px;
        padding-bottom: 65px;
      }

      &--os {
        padding-top: 51px;
        padding-bottom: 54px;
        margin-bottom: 65px;
      }

      &--contact {
        padding-bottom: 15px;
        margin-bottom: 65px;
      }

      &--achieve {
        padding-top: 51px;
        padding-bottom: 48px;
        margin-bottom: 65px;
      }

      &--text {
        padding-bottom: 50px;
        margin-bottom: 68px;
      }
    }

    &__textarea {
      min-height: 193px;
    }


    &__item {
      &--name {
        margin-bottom: 52px;

        &:last-child {
          padding-top: 1px;
        }
      }

      &--os {
        margin-bottom: 35px;
      }

      &--contact {
        margin-bottom: 20px;
      }

      &--achieve {
        margin-bottom: 42px;
      }
    }

    &__footer {
      margin-bottom: 52px;
    }

    &__hidden {
      @include text-hide;
    }
  }
}

/*
██████
██   ██
██   ██
██   ██
██████
*/


@media #{$desktop} {
  .form {
    justify-content: space-between;
    align-items: flex-start;

    &__fieldset {
      flex-wrap: wrap;
      padding-top: 45px;
      padding-left: 58px;
      padding-right: 58px;

      &--name {
        flex-direction: column;
        width: 50%;
        margin-bottom: 15px;
        padding-left: 0;
        padding-top: 7px;
        padding-right: 35px;
      }

      &--os {
        width: 433px;
        padding-top: 54px;
        padding-bottom: 55px;
        margin-bottom: 65px;
        padding-left: 73px;
      }

      &--contact {
        display: flex;
        margin-bottom: 65px;
        padding-bottom: 3px;
        padding-top: 42px;
      }

      &--achieve {
        display: flex;
        margin-bottom: 65px;
        padding-top: 51px;
        padding-bottom: 13px;
        padding-right: 0;
      }

      &--text {
        margin-bottom: 65px;
        padding-top: 42px;
        padding-bottom: 43px;
      }
    }

    &__textarea {
      min-height: 128px;
      padding-bottom: 10px;
    }

    &__footer {
      margin-bottom: 3px;
    }

    &__items {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      &--name {
        margin-bottom: 52px;

        &:last-child {
          padding-top: 1px;
        }
      }

      &--os {
        margin-bottom: 34px;
      }

      &--contact {
        width: 375px;
      }

      &--achieve {
        width: 260px;
        margin-bottom: 42px;
      }
    }
  }
}
