.logo {
  @include text-hide;
  position: relative;
  flex-shrink: 0;
  width: 76px;
  height: 22px;
  margin-right: $gutter;
  cursor: pointer;

  &__star,
  &__glasses,
  &__glasses-part,
  &__letters {
    transition: $trs_short;
  }

  &__svg {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__star {
    display: none;
  }

  &__glasses-part {
    display: none;
  }

  // common hovers
  &:hover &__glasses,
  &:hover &__glasses-part,
  &:hover &__letters {
    fill: $c_bright;
  }

  // header mod
  &--header:hover &__star {
    fill: $c_alt;
  }

  &--header:active &__glasses,
  &--header:active &__glasses-part,
  &--header:active &__letters {
    fill: rgba($c_alt, 0.3);
  }

  &--header:active &__star {
    fill: rgba($c_bright, 0.5);
  }

  // footer mod
  &--footer {
    width: 147px;
    margin-right: 0;
  }

  &--footer:hover &__star {
    fill: $c_bright;
  }

  &--footer:active &__glasses,
  &--footer:active &__glasses-part {
    fill: rgba($c_bright, 0.3);
  }
  &--footer:active &__letters {
    fill: rgba($c_base, 0.3);
  }
  &--footer:active &__star {
    fill: rgba($c_base, 0.3);
    &--i {
      fill: rgba($c_bright, 0.3);
    }
  }

  // отменяем активное состояние для логотипов на индексной странице
  &--inactive {
    pointer-events: none;
  }
}

@media #{$mobile} {
  .logo {

    &--header &__svg {
      top: -17px;
      left: -72px;
    }

    &--header &__glasses {
      display: none;
    }
  }
}

// @media #{$portable}

@media #{$tab-desk} {
  .logo {
    width: 147px;

    &--header {
      flex-grow: 1;
      margin-top: 22px;
      margin-bottom: 22px;
    }
  }
}

@media #{$desktop} {
  .logo {
    &__star {
      display: block;
    }
    &__glasses {
      display: none;
    }
    &__glasses-part {
      display: block;
    }
  }
}
