.map {
  position: relative;

  &__container {
    @include container;
    position: relative;
    min-height: 200px;
    background:
      $bg-grey
      url("../img/bg/bg-map-mobile.jpg")
      center /
      cover
      no-repeat;
  }
  &__ya {
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    z-index: $z_base;
  }
}

@media #{$tab-desk} {
  .map {
    &__container {
      background-image: url("../img/bg/bg-map.jpg");
    }
  }
}

@media #{$tablet} {
  .map {
    &__container {
      min-height: 380px;
    }
    &__ya {
      height: 380px;
    }
  }
}

@media #{$desktop} {
  .map {
    &__container {
      min-height: 505px;
    }
    &__ya {
      height: 505px;
    }
  }
}
