.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 320px;
  min-height: 200px;
  padding-left: $offset_mobile;
  padding-right: $offset_mobile;
  padding-top: 40px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  text-align: center;
  box-shadow: 0 7px 15px 0 rgba(#000, 0.14);

  &--show {
    display: block;
  }

  &--demo {
    position: static;
    display: block;
    margin: 50px auto;
    transform: translate(0, 0);
  }

  &__title {
    margin: 0;
    margin-bottom: 28px;
    font-size: $fz_m;
    line-height: (24 / 18);
    font-weight: 700;
  }

  &__text {
    width: auto;
    margin: 0;
    margin-bottom: 33px;
    font-size: $fz_base;
    line-height: (24 / 14);
  }

  &__inner {
    width: auto;
    margin-left: - $offset_mobile;
    margin-right: - $offset_mobile;
    padding-top: 48px;
    background-color: $bg_grey;
  }

  &__btn {
    width: 280px;
    margin-bottom: 51px;
  }
}

@media #{$tab-desk} {
  .modal {
    width: 460px;
    padding-left: 70px;
    padding-right: 70px;

    &__title {
      font-size: $fz_xl;
      line-height: (40 / 30);
    }

    &__text {
      width: auto;
      margin: 0;
      margin-bottom: 33px;
      font-size: $fz_m;
      line-height: (24 / 18);
    }

    &__inner {
      margin-left: -70px;
      margin-right: -70px;
      padding-top: 48px;
    }

    &__btn {
      width: 300px;
    }
  }
}


@media #{$desktop} {
  .modal {
    &--success {
      width: 780px;
      padding-left: 180px;
      padding-right: 180px;
    }

    &__inner {
      margin-left: -180px;
      margin-right: -180px;
    }

    &--success  &__btn {
      width: 460px;
    }
  }
}
