.page-footer {
  &__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}


@media #{$mobile} {
  .page-footer {
    padding-top: 58px;
    padding-bottom: 10px;

    &__grid {
      flex-direction: column;
    }

    &__col {
      margin-bottom: 38px;
    }

    &--hidden {
      display: none;
    }
  }
}


@media #{$tablet} {
  .page-footer {
    padding-top: 37px;
    padding-bottom: 37px;
  }
}


@media #{$desktop} {
  .page-footer {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
