.post {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  width: $w_block;
  margin-bottom: 20px;
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
  flex-shrink: 1;

  &__img-wrap {
    display: block;
    overflow: hidden;
    margin: 0 auto;
    overflow: hidden;
  }

  &__img {
    display: block;
  }

  &__content-wrap {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 21px;
    padding-left: 18px;
    padding-right: 18px;
    background-color: $bg_grey;
    line-height: (24 / 14);
  }

  &__header {
    @include text-no-overflow;
  }

  &__author {
    font-weight: bold;
    font-style: normal;
  }

  &__time {
    font-size: $fz_xs;
    line-height: (24 / 12);
    font-weight: $fw_light;
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    margin-bottom: 8px;
    flex-grow: 1;
  }

  &__footer {
    @include text-no-overflow;
    position: relative;
    padding-left: 32px;
  }

  &__like-btn {
    @include btn-clear;
    @include text-hide;
    position: absolute;
    left: -3px;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    transition: $trs_short;
    &:hover {
      color: rgba($c_bright, 0.1);
    }
    &:active {
      color: $c_bright;
    }
  }

  &__like-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $c_bright;
    width: 12.545px;
    height: 11.99px;
    transition: $trs_short;
  }

  &__like-btn:hover &__like-icon {
    width: 15px;
    height: 15px;
  }

  &__like-btn:active &__like-icon {
    width: 17px;
    height: 17px;
  }

  &__like-text {
    font-size: $fz_xs;
    line-height: (24 / 12);
    color: $c_bright;
    text-transform: uppercase;
  }

  /* ============================================>>>>>
    = MOD IMG--TOP =
    ===============================================>>>>> */


  &--top {
    display: block;
    width: 100%;
    padding: 0;
  }

  &--top &__img-wrap {
    width: 100%;
    height: auto;
    background-color: $bg_grey;
  }

  &--top &__img {
    display: block;
    width: 100%;
    min-width: $w_block + $gutter;
    max-width: 1600px;
    margin: 0 auto;
  }

  &--top &__content-wrap {
    width: $w_block - $gutter;
    margin: 0 auto;
  }

  &__tag {
    @include container;
    position: relative;
    &::before {
      content: "Панорама дня";
      position: absolute;
      top: 0;
      right: 0;
      margin-left: $offset_mobile;
      margin-right: $offset_mobile;
      padding: 6px 19px;
      background-color: $c_bright;
      color: $c_alt;
      text-transform: uppercase;
      font-weight: $fw_bold;
      font-size: $fz_xs;
      line-height: (24 / 12);
    }
  }

  /* --------------------------------------------<<<<<
    = End of MOD IMG--TOP =
    ===============================================<<<<< */
}

/*
███    ███
████  ████
██ ████ ██
██  ██  ██
██      ██
*/

@media #{$mobile} {
  .post {
    &--top {
      margin-top: 15px;
    }

    &__author,
    &__time {
      line-height: 1.5;
    }
    //
    // &__content-wrap {
    //
    // }
  }
}


/*
████████ ██████
   ██    ██   ██
   ██    ██   ██
   ██    ██   ██
   ██    ██████
*/


@media #{$tab-desk} {
  .post {
    width: $w_block + $gutter;

    &__content-wrap {
      min-height: 150px;
      padding-top: 24px;
      padding-bottom: 22px;
      padding-right: 27px;
      padding-left: 28px;
    }

    &__text {
      flex-grow: 1;
      margin-top: -1px;
      margin-bottom: 12px;
    }

    &__footer {
      padding-left: 0;
    }

    &__like-btn {
      left: auto;
      right: 1px;
    }

    // tab-desk mq for img--top

    &--top {
      width: 100%;
    }

    &--top &__content-wrap {
      flex-direction: row;
      flex-wrap: wrap;
      min-height: auto;
      padding-bottom: 24px;
    }

    &--top &__header {
      order: 1;
      width: 50%;
    }

    &--top &__text {
      order: 3;
      margin-bottom: 0;
    }

    &--top &__footer {
      order: 2;
      width: 50%;
      text-align: right;
      padding-right: 30px;
    }

    &--top &__like-btn {
      right: -2px;
    }
  }
}

/*
████████
   ██
   ██
   ██
   ██
*/


@media #{$tablet} {
  .post {
    margin-bottom: 20px;
    &__img-wrap {
      height: 300px;
    }

    &--top {
      margin-top: 6px;
      margin-bottom: 51px;
    }

    &--top &__content-wrap {
      width: $w_block * 2 + $gutter;
    }

    &__tag::before {
      top: 58px;
      margin-left: $offset_tablet;
      margin-right: $offset_tablet;
    }
  }
}

/*
██████
██   ██
██   ██
██   ██
██████
*/


@media #{$desktop} {
  .post {
    margin-bottom: 54px;

    &__img-wrap {
      height: 400px;
    }

    // desktop mq for top--img
    &--top {
      margin-top: 10px;
      margin-bottom: 50px;
    }

    &--top &__content-wrap {
      width: ($w_block * 3) + ($gutter * 2);
    }

    &__tag::before {
      top: 55px;
      margin-left: $offset_desktop;
      margin-right: $offset_desktop;
    }
  }
}
