.review {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  width: (100% / 3);

  &__text {
    @include typo-text;

    margin: 0;
  }

  &__author {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: $fz_m;
    line-height: (30 / 18);
  }

  &__info {
    @include typo-small;
    
    margin: 0;
    display: none;
  }
}

@media #{$mobile} {
  .review {
    flex-direction: column-reverse;
    padding-top: 40px;

    &__author {
      margin-bottom: 13px;
    }

    &__text {
      margin-bottom: 10px;
    }
  }
}

@media #{$tab-desk} {
  .review {

    &__info {
      display: block;
    }
  }
}

@media #{$tablet} {
  .review {
    padding-top: 30px;

    &__text {
      margin-bottom: 35px;
    }

    &__author {
      font-size: 20px;
      line-height: (30 / 20);
      margin-bottom: 6px;
    }

    &__info {
      margin-bottom: 0;
    }
  }
}

@media #{$desktop} {
  .review {
    padding-top: 112px;
    padding-bottom: 0;
    padding-left: 90px;
    padding-right: 90px;
    background:
      transparent
      inline("inline/icon-quotes.svg")
      center top /
      auto
      no-repeat;

    &__text {
      margin-bottom: 34px;
    }

    &__author {
      font-size: $fz_l;
      line-height: (42 / 30);
      margin-bottom: 3px;
    }

    // &__info {
    //   font-size: $fz_m;
    //   line-height: (30 / 18);
    // }
  }
}
