.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 176px;

  &__item {
    @include text-hide;

    position: relative;
    display: block;
    width: 51px;
    height: 51px;
    border: 3px solid rgba($c_base, 0.1);
    border-radius: 50%;
    transition: $trs_short;

    &:hover {
      border-color: $c_base;
    }

    &:active {
      border: 3px solid rgba($c_base, 0.3);
      opacity: 0.3;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $c_bright;
  }
}

@media #{$tablet} {
  .socials {
    margin-right: 20px;
  }
}

@media #{$desktop} {
  .socials {
    margin-left: 6px;
  }
}
