extends ../_layouts/base

block variables

block content
  +b.intro
    +e.title-wrap
      +e.H1.title Конкурс на&nbsp;самое безбашеное путешествие с&nbsp;Пинк

  .container
    +b.descr
      +e.P.text Поделитесь своей историей и&nbsp;получите шанс выиграть ценный приз&nbsp;&mdash; 1000 миль на&nbsp;вашу бонусную карту!
        +e.SPAN.hidden  Пожалуйста, заполните форму ниже:
    +b.FORM.form
      +e.fieldset--name
        each item, index in site.data.form.fieldsName
          +e.item--name
            +field(item, index)

      +e.fieldset--os
        +e.P.title С&nbsp;каким приложением путешествовали?
        each item, index in site.data.form.radiosOs
          +e.item--os
            +radio(item, index)

      +e.fieldset--contact
        +e.P.title Контактная информация
        +e.items
          each item, index in site.data.form.fieldsContact
            +e.item--contact
              +field(item, index)

      +e.fieldset--achieve
        +e.P.title Ваши безбашенные достижения в&nbsp;путешествии
        +e.items
          each item, index in site.data.form.checkboxesAchievement
            +e.item--achieve
              +checkbox(item, index)

      +e.fieldset--text
        +e.LABEL.title(for="fs-text") Опишите свои эмоции
        +e.TEXTAREA.textarea(
          id="fs-text",
          name="text",
          placeholder="Можно прям в красках, не стесняясь в выражениях"
          )

      +e.footer
        +e.BUTTON.btn.btn--c-green.--square(type="submit") Отправить форму
        +e.SMALL.disclaimer
          +e.SPAN.asterisk *
          |  — обязательные
          +e.SPAN.hidden  для заполнения
          |  поля

  +modal
  +modal-fail
